<div class="js-cta-thanks cta-thanks">
  <div class="cta-thanks__inner">
    <button type="button" class="js-cta-thanks-close cta-thanks__close">
      <svg class="u-icon">
        <use xlink:href="images/icons/icons.svg#menu-close"></use>
      </svg>
    </button>
    <h3 class="cta-thanks__title" data-translate="ctaThanksTitle">Спасибо!<br>Ваша заявка принята</h3>
    <h5 class="cta-thanks__subtitle" data-translate="ctaThanksText">Мы благодарим вас за обращение! Наша команда свяжется с вами в ближайшее время</h5>
  </div>
</div>