<footer class="@@el header">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <div class="row header__row">
        <div class="row__col--1 header__col header__col--logo">
          <a href="/" class="logo header__logo">
            <picture class="logo__img">
              <img src="images/logo.png" alt="Swiper">
            </picture>
          </a>
        </div>
        <div class="row__col--10 header__col header__col--menu">
          <nav class="u-nav" role="navigation">
            <ul class="u-nav__list">
              <li class="u-nav__item">
                <a href="#benefits" class="js-anchor u-nav__link" data-translate="navItem1">В чем фишка?</a>
              </li>
              <li class="u-nav__item">
                <a href="#roadmap" class="js-anchor u-nav__link" data-translate="navItem2">Начни зарабатывать</a>
              </li>
              <li class="u-nav__item">
                <a href="#blockchain" class="js-anchor u-nav__link" data-translate="navItem3">Блокчейн</a>
              </li>
              <li class="u-nav__item">
                <a href="#appeal" class="js-anchor u-nav__link" data-translate="navItem4">Преимущества</a>
              </li>
              <li class="u-nav__item">
                <a href="#faq" class="js-anchor u-nav__link" data-translate="navItem5">Q/A</a>
              </li>
              <li class="u-nav__item">
                <a href="#cta" class="js-anchor u-nav__link" data-translate="navItem6">Задай свой вопрос</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="row__col--1 header__col header__col--language">
          <div class="language-select header__language-select">
            <ul class="language-select__list">
              <li class="language-select__item">
                <button type="button" class="language-select__link is-active" data-lang="ru">
                  <picture>
                    <img src="images/flags/ru.png" alt="RU">
                  </picture>
                </button>
              </li>
              <li class="language-select__item">
                <button type="button" class="language-select__link" data-lang="en">
                  <picture>
                    <img src="images/flags/us.png" alt="US">
                  </picture>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="row__col--3 header__col header__col--developer">
          <div class="store-links header__developer">
            <ul class="store-links__list">
              <li class="store-links__item">
                <p class="store-links__title" data-translate="footerDeveloperTitle">Разработано при поддержке</p>
                <div class="store-links__link" target="_blank">
                  <picture>
                    <img src="images/logo-developer.svg">
                  </picture>
                  <a href="https://univertechpred.ru/" target="_blank" class="store-links__href store-links__href--univer" rel="noopener"></a>
                  <a href="https://fasie.ru/" target="_blank" class="store-links__href store-links__href--fond" rel="noopener"></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row__col--6 header__col header__col--store">
          <div class="store-links header__store">
            <ul class="store-links__list">
              <li class="store-links__item">
                <a href="#" class="store-links__link" target="_blank" rel="noopener">
                  <picture>
                    <img src="images/app-store.svg" alt="Download on the App Store">
                  </picture>
                </a>
              </li>
              <li class="store-links__item">
                <a href="#" class="store-links__link" target="_blank" rel="noopener">
                  <picture>
                    <img src="images/google-play.svg" alt="Get in on Google Play">
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row__col--12 header__col header__col--copyright">
          <p class="header__copyright">
            <a href="static/privacy.txt" target="_blank" data-translate="footerPrivacy">Политика конфиденциальности</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>