<header class="@@el header">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <div class="row header__row">
        <div class="row__col--1 header__col header__col--logo">
          <a href="/" class="logo header__logo">
            <picture class="logo__img">
              <img src="images/logo.png" alt="Swiper">
            </picture>
          </a>
        </div>
        <div class="row__col--10 header__col header__col--menu">
          <div class="header__dropdown">
            <nav class="u-nav" role="navigation">
              <ul class="u-nav__list">
                <li class="u-nav__item">
                  <a href="#benefits" class="js-anchor u-nav__link" data-translate="navItem1">В чем фишка?</a>
                </li>
                <li class="u-nav__item">
                  <a href="#roadmap" class="js-anchor u-nav__link" data-translate="navItem2">Начни зарабатывать</a>
                </li>
                <li class="u-nav__item">
                  <a href="#blockchain" class="js-anchor u-nav__link" data-translate="navItem3">Блокчейн</a>
                </li>
                <li class="u-nav__item">
                  <a href="#appeal" class="js-anchor u-nav__link" data-translate="navItem4">Преимущества</a>
                </li>
                <li class="u-nav__item">
                  <a href="#faq" class="js-anchor u-nav__link" data-translate="navItem5">Q/A</a>
                </li>
                <li class="u-nav__item">
                  <a href="#cta" class="js-anchor u-nav__link" data-translate="navItem6">Задай свой вопрос</a>
                </li>
              </ul>
            </nav>
            <div class="d-sm-block language-select header__language-select">
              <ul class="language-select__list">
                <li class="language-select__item">
                  <button type="button" class="language-select__link is-active" data-lang="ru">
                    <picture>
                      <img src="images/flags/ru.png" alt="RU">
                    </picture>
                  </button>
                </li>
                <li class="language-select__item">
                  <button type="button" class="language-select__link" data-lang="en">
                    <picture>
                      <img src="images/flags/us.png" alt="US">
                    </picture>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row__col--1 header__col header__col--language">
          <div class="language-select header__language-select">
            <ul class="language-select__list">
              <li class="language-select__item">
                <button type="button" class="language-select__link is-active" data-lang="ru">
                  <picture>
                    <img src="images/flags/ru.png" alt="RU">
                  </picture>
                </button>
              </li>
              <li class="language-select__item">
                <button type="button" class="language-select__link" data-lang="en">
                  <picture>
                    <img src="images/flags/us.png" alt="US">
                  </picture>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-sm-block row__col--3 header__col header__col--toggle">
          <button type="button" class="js-header-toggle header__toggle">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#menu-open"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#menu-close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>